PokemonQuizEmAll/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/CircleProgressView.xcscheme
PokemonQuizEmAll/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/Pods-PokemonQuizEmAll.xcscheme
PokemonQuizEmAll/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/Realm.xcscheme
PokemonQuizEmAll/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/RealmSwift.xcscheme
PokemonQuizEmAll/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/RxCocoa.xcscheme
PokemonQuizEmAll/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/RxSwift.xcscheme
PokemonQuizEmAll/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/Spring.xcscheme
PokemonQuizEmAll/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/SwiftyJSON.xcscheme
PokemonQuizEmAll/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
